# Discord
DISCORD_TOKEN=
GUILD_ID=

# PostgreSQL (Railway подставит автоматически при подключении плагина Postgres)
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

# Опционально (можно задать позже через /settings)
LOG_CHANNEL_ID=
ADMIN_ROLE_ID=
TIMEZONE=Europe/Moscow
